<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jogo da Velha</title>
    <link rel="stylesheet" href="css/css.css">
  </head>
  <body>
	<center>
	<h3>Resultado do Jogo da Velha</h3>
	<table>
		<tr>		
			<td><div id=quadrado><%=resultado[0].letra%></div></td>
			<td><div id=quadrado><%=resultado[1].letra%></div></td>
			<td><div id=quadrado><%=resultado[2].letra%></div></td>
		</tr>
		<tr>		
			<td><div id=quadrado><%=resultado[3].letra%></div></td>
			<td><div id=quadrado><%=resultado[4].letra%></div></td>
			<td><div id=quadrado><%=resultado[5].letra%></div></td>
		</tr>
		<tr>		
			<td><div id=quadrado><%=resultado[6].letra%></div></td>
			<td><div id=quadrado><%=resultado[7].letra%></div></td>
			<td><div id=quadrado><%=resultado[8].letra%></div></td>
		</tr>
	</table>
	
	<a href="/index.html">HOME</a>
	</center>
    
  </body>
</html>
